<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
</head>
<body style="background-color:honeydew">
    <h2 style="color:aqua; text-align: center;">Climate Change</h2>
    <p style="font-size:18px; margin:4rem">
    As Earth’s climate warms, heat waves are becoming more frequent and severe. The health dangers of extreme heat have scientists 
    and medical experts increasingly concerned. Heat stress is a leading cause of weather-related deaths in the United States each year. A 
    recent example is the record-breaking heat wave that hit the U.S. Pacific Northwest in the summer of 2021, killing hundreds.
    </p>

</body>
</html>