<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EcoFriend</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          
          <a class="navbar-brand" href="#">
            <span>
              EcoFriend
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <a class="nav-link" href="/loggedin">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">Missions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/service">Quiz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/portfolio">Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/news"> Articles </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/contact">Tips</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/search">View Statistics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/loggedin#subscribe">Subscribe</a>
                
                </li>
              </ul>
            </div>
          </div>
          <a class="btn btn-md btn-primary" style="margin-right:20px" onclick="window.location.href='/'" role="button">LOGOUT</a>

        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding" style="background-color:antiquewhite">
    <div class="container">
      <div >
        <div class="custom_heading-container" style="text-align: center;">
          
          <h2 style="padding-left:460px";>
            Monthly Tips
          </h2>
        </div>
      </div>
      <div class="layout_padding-top layout_padding2-bottom">
        <div class="row" style="padding-bottom:20px; background-color: darkturquoise;border-radius:30px">
          <div class="col-md-9">
            
<br>

            <img class="my-img" style="padding-left:40px; float: right;" width=300 height=500 src="https://climatesafety.info/wp-content/uploads/2013/01/top-tips-to-save-the-earth.jpg">
            <img class="my-img" style="padding-left:40px; float:right" width=300 height=500 src="https://pbs.twimg.com/media/DtfC68DWkAAkfVr.jpg">
            <!-- <img class="my-img" style="padding-left:40px;float:right" width=300 height=500 src="https://cdn-infographic.pressidium.com/wp-content/uploads/Top-Tips-To-Staying-Stress-Free-In-The-Work-Place-Infographic-960x2490.png"> -->
          </div>

        

          
        </div>
      </div>
      
    </div>
  </section>


  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_social">
        <div>
          <a href="">
            <img src="static/images/fb.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/twitter.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/linkedin.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/insta.png" alt="">
          </a>
        </div>
      </div>
      <div>
        <p>
          EcoFriend is a non-profit organization that strives to encourage people to help keep the enivornment safe and healthy for all types of life.
          
        </p>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2022 EcoFriend
      
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>

</body>
</body>

</html>