<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EcoFriend</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <!-- <img src="static/images/logo.png" alt=""> -->
            <span>
              EcoFriend
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>          
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="slider_bg-container">
      </div>
      <div class="slider-container">
        <div class="detail-box">          
          <h1>
            Welcome to EcoFriend!<br>    
          </h1>
          <br>
          <h3>
            <b>Learn. Protect. Preserve. Earn.</b>
          </h3>
            <p>
              When it comes to nature, everyone plays a role in keeping it the way it deserves to be.
			  With EcoFriend, you can help protect and preserve the environment and even get paid for it.              
              So, help Mother Earth out by protecting the beauty of our planet and at the same time, earning some money.
            </p>	  
          <div>
            <a href="/login" class="slider-link">
              Login to start protecting our environment
            </a>
			<a href="#why-sign-up" style="color: hotpink;">Why sign up ?</a>
          </div>
        </div>
        <div class="img-box">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color: purple;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/images/slider-img.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/slider-img2.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/slider-img3.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/slider-img4.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/slider-img5.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/slider-img6.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/slider-img7.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->
  <section class="about_section layout_padding" style="background-color:lavender">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                The Purpose
              </h2>
              <hr>
            </div>
            <p>
              With EcoFriend, you can help protect and preserve the environment and even get paid for it.
              When it comes to nature, everyone plays a role in keeping it the way it deserves to be.
              So, help Mother Earth out by protecting the beauty of our planet and at the same time, earning some money.
            </p>
            <div>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="about_section layout_padding" style="background-color:palevioletred">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2 id="why-sign-up" style="font-size:20px">
                Why Should You Sign Up?
              </h2>
              <hr>
            </div>
            <p>
              As a registered user, you will be able to rank up in levels - you will start at Level 1 and gain points through completing monthly missions. After earning a specific number of points, you will advance to the next level. Level 10 is the highest; once you get there, you earn a certificate and a $10 gift card.
            </p>
            <div>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end about section -->

  <section class="about_section layout_padding" style="background-color:lightsalmon">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6 style="color:darkgray">
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                The Big Problem
              </h2>
              <hr>
            </div>
            <p style="text-align:justify">
              We all share one big planet Earth and sometimes...that can be a big problem. People have different needs and desires, but again, we do all share the same place.
              Trash in the ocean, cutting down trees, throwing garbage anywhere and everywhere...these are things people do in their daily lives without giving it a second thought.
              It is our duty, as residents and citizens of Planet Earth, to protect our environment from getting dirtier and dirtier every day.
              We need to make sure the beauty doesn't turn ugly. Of course, there are some aspects that we can't control, like natural disasters (earthquaks, tsunamis...),
              but we can do our personal best to try and keep the world amazing for generations and generations to come. 
            </p>
            <div>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- portfolio section -->

  <section class="portfolio_section" style="background-color:lightgreen; padding-top: 70px;padding-bottom: 40px;">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Videos
        </h2>
        <hr>
      </div>
      <p>
        Not a user yet? That's alright. Here are some videos to help you get thinking about nature.
      </p>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <iframe width="420" height="315"
src="https://www.youtube.com/embed/0Puv0Pss33M">
</iframe>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <iframe width="420" height="315"
src="https://www.youtube.com/embed/JgvDuLcL4yQ">
</iframe>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>

  <!-- end portfolio section -->
  <!-- Articles section -->

  

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_social">
        <div>
          <a href="">
            <img src="static/images/fb.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/twitter.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/linkedin.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/insta.png" alt="">
          </a>
        </div>
      </div>
      <div>
        <p>
          EcoFriend is a non-profit organization that strives to encourage people to help keep the enivornment safe and healthy for all types of life.
          
        </p>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2022 EcoFriend
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>

</body>
</body>

</html>